body {
    background-color: #ffc400;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 150px;
    vertical-align: center;
    text-align: center;
    padding: 20px;
}
main {
    background-color: #DDDDEF;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    max-width: fit-content;
}
section {
    background-color: white;
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
}
input {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}
h1 {
    padding: 25px 25px;
    font-size: 50px;
}
ul {
    list-style-type: none;
}
